Source: atomic
Section: admin
Priority: optional
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends:
 debhelper (>=10),
 dh-python,
 go-md2man,
 python3 (>= 3.2),
 python3-setuptools,
 python3-requests,
 python3-docker,
 python3-websocket,
 python3-dbus,
 python3-six,
 python3-gi,
 python3-pyxattr,
 python3-dateutil,
 python3-yaml,
 python3-urllib3,
 python3-selinux,
 pylint3
Standards-Version: 3.9.8
X-Python3-Version: >= 3.2
Homepage: https://github.com/projectatomic/atomic
Vcs-Git: https://github.com/pthierry38/atomic.git
Vcs-Browser: https://github.com/pthierry38/atomic

Package: atomic
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 dbus,
 lsb-base,
 python3-requests,
 python3-docker,
 python3-websocket,
 python3-six,
 python3-gi,
 python3-pyxattr,
 python3-dateutil,
 python3-dbus,
 python3-yaml,
 python3-selinux,
 python3-urllib3
Multi-Arch: foreign
Suggests:
 atomic-doc,
 docker
Description: allows a provider to specify how a container expects to be run
 The goal of Atomic is to provide a high level, coherent entrypoint 
 to the system, and fill in gaps in Linux container implementations.
 .
 For Docker, atomic can make it easier to interact with special kinds
 of containers, such as super-privileged debugging tools and the like.

Package: atomic-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: All documentations for atomic Python service 
 Install various documentations, including design architecture in pdf format
 and some various documentation about the goal of the Atomic tool.
 .
 Various documentation and code architecture is keeped separated
 due to its size.
