#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# redirect module to correct dist-packages dir
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python3/dist-packages

# by default, the service is not started, it must be enabled by update-rc.d or
# systemd
override_dh_installinit:
	dh_installinit -patomic --name=atomic --no-start --update-rcd-params='disable 2345'

override_dh_auto_build:
	dh_auto_build
	make docs

override_dh_install:
	dh_install -O--buildsystem=pybuild
	rm -rf $(CURDIR)/debian/atomic/usr/lib/python3/dist-packages/python3-atomic/__pycache__
	chmod 0755 $(CURDIR)/debian/atomic/usr/share/bash-completion/completions/atomic
	mv $(CURDIR)/debian/atomic/usr/bin/atomic_dbus.py $(CURDIR)/debian/atomic/usr/share/atomic/atomic_dbus.py

%:
	dh $@  --with python3 --buildsystem=pybuild


